* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    font-family: 'PT Serif',sans-serif;
    line-height: 18px;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid transparent;
}
.header__top {
    background-color: #303030;
}
.header__contact:after {
    content: "";
    clear: both;
    display: block;
}
.header__phone,
.header__email {  
    color: #a8a7a7;
    line-height: 46px;
    position: relative;
}
.header__phone {
    padding-left: 20px;
    padding-right: 25px;
}
.header__phone::before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__email {
    padding-left: 25px;
}
.header__email::before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__batton {
    float: right;
    line-height: 46px;
    color: #2a261b;
    font-size: 16px;
    background-color: #ffc222;
    padding: 0px 45px 0 50px;
    position: relative;
}
.header__batton::before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 20px;
    
}
.header__content {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    padding: 40px 0 30px 0;
}
.menu__list {
    display: flex;
    padding: 40px 0 45px 0;
}
.menu__link {
    padding: 10px 16px 10px 17px;
    font-size: 16px;
    color: #323232;
    line-height: 36px;
    border: 1px solid transparent;
}
.menu__link:hover {
    border-color: #ffc222;
    transition: all .3s;
}
.menu__list-item {
    margin-right: 10px;
}
.header__images {
    background-image: url(../images/header__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 500px;
    text-align: center;
}
.header__title {
    padding-top: 130px;
    font-size: 30px;
    color: #fff;
    margin-bottom: 33px;
}
.header__subTitle {
    font-size: 18px;
    color: #bbbcbd;
    white-space: pre-line;
    line-height: 24px;
    margin-bottom: 50px;
}
/*ABOUT*/
.about__module {
    border-top: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}
.about__titls {
    position: relative;
    padding-left: 140px;
}
.about__title {
    font-size: 24px;
    margin-top: 60px;
}
.about__title::before {
    content: " ";
    width: 105px;
    height: 2px;
    background-color: #ffc222;
    position: absolute;
    left: 15px;
    top: 70px;
}
.about__subTetle {
    font-size: 14px;
    color: #5e5e5e;
    white-space: pre-line;
}
.about__link {
    border: 3px solid #e6e6e6;
    padding: 11px 45px 13px 45px;
    color: #373636;
}
.about__link:hover {
    border: 3px solid #ffc222;
    transition: all .5s;
}
.about__items {
   display: flex;
   justify-content: space-between;
   text-align: center;
   position: relative;
   margin-bottom: 35px;
}
.about__item {
    padding: 20px 30px 165px;
    max-width: 360px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.about__img {
    margin-bottom: 25px;

}
.about__item-title {
    padding-bottom: 25px;
    color: #212020;
    font-size: 15px;
    font-weight: 600;
    
}
.about__item-cubTitle {
    color: #5e5e5e;
}
.about__batton {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
}
.about__batton-left {
    color: #050505;
    border-bottom: 1px solid #050505;
    display: block;
    margin-right: 65px;
}
.about__batton-right {
    color: #373636;
    padding: 10px 40px ;
    border: 2px solid #ffc222;
    display: block;
}
/*INFO*/

.info {
    background-image: url(../images/info__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    border: 1px solid transparent;
}
.wraper {
max-width: 550px;
}
.info__title {
    font-size: 24px;
    color: #fff;
    margin: 35px 0 25px;
    padding-left: 15px;
}
.info__subTitle {
    color: #d3d2d2;
    margin-bottom: 40px;
    padding-left: 15px;
    line-height: 24px;
}
.info__link {
    color: #d3d2d2;
    padding: 10px 30px;
    border: 1px solid #ffc222;
    margin-left: 10px;
    display: block;
    margin-bottom: 40px;
    width: 170px;
    font-weight: 600;

}
/*FORM*/

.form__inner {
    background-image: url(../images/form__img.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 460px;
    padding-bottom: 20px;
}
.form__content {
}
.form__title-box {
    max-width: 520px;
    padding-left: 135px;
    position: relative;
}
.form__title::before{
    content: "";
    width: 105px;
    height: 2px;
    background-color: #ffc222;
    position: absolute;
    left: 3px;
    top: 55px;

}
.form__title {
    color: #212020;
    font-size: 24px;
    padding-top: 45px;
    margin-bottom: 25px;
    font-weight: 500;
}  
.form__subtatle {
    color: #5e5e5e;
}
.form__content-box {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
}
.form__content-box label{
    font-size: 14px;
    color: #282828;
}
.form__content-box input,
.form__content-box textarea,
.form__content-box select{
    display: block;
    outline: none;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #e6e6e6;
}
.form__content-box textarea{
    width: 560px;
    resize: none;
    height: 200px;
}
.form__left input,
.form__left select {
    height: 40px;
    width: 265px;
}
.form__bt{
    background-color: transparent;
    padding: 10px 30px;
    outline: none;
    border: 2px solid #ffc222;
    float: right;
    font-size: 14px;
    color: #282828;
    margin-top: 15px;
}

/* benefits*/
.benefits {
    background-image: url(../images/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 273px;
}
.container {
}
.benefits__items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.benefits__item {
    text-align: center;
    line-height: 24px;
    max-width: 340px;
    padding-top: 55px;
    position: relative;

}
.benefits__item-before {
    content: "\f00c";
}
.benefits__item-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    padding-top: 70px;
}
.benefits__item-title::before{
    content: " ";
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    border: 2px solid #ffc222;

}
.benefits__item-title::after{
    font-family: 'icomoon';
    content: "\f00c";
    font-size: 14px;
    position: absolute;
    top:65px;
    left: 50%;
    transform: translateX(-50%);
}
.benefits__item-subtitle {
    color: #d3d2d2;
    line-height: 24px;
}

/*===============NEWS=================*/
.news {
    background-color: #f9f9f9;
}
.new{
    padding-top: 70px;
    margin-bottom: 110px;
}
.new__top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new__description {
    max-width: 515px;
    padding-left: 135px;
    position: relative;
    margin-bottom: 50px;
}
.new__title {
    font-size: 24px;
    line-height: 24px;
    color:#212020;
    font-weight: 600;
    margin-bottom: 25px;
    
}
.new__title::before{
    content: "";
    width: 105px;
    height: 3px;
    background-color: #ffc222;
    left: 1px;
    top:10px;
    position: absolute;
}
.new__subtitle {
    color: #5e5e5e;
    
}
.new__button-link{
    color: #373636;
    border: 3px solid #e6e6e6;
    padding: 10px 35px;
}
.new__button-link:hover{
    border: 3px solid #ffc222;
    transition: all .5s;
}
.new__main-box {
}
.new__items {
    display: flex;
    justify-content: space-between;
}
.new__left {
    max-width: 555px;
    padding: 0 35px 30px 70px;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    position: relative;
}

.new__left-title {
    padding-top: 60px;
    font-size: 18px;
    color: #242424;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    padding-left: 5px;
    
}
.new__left-title::before{
    font-family: 'icomoon';
    content: "\f10e";
    color: #fff;
    width: 65px;
    height: 30px;
    background-color: #ffc222;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 30px;
}
.new__left-text {
    color: #5e5e5e;
    margin-bottom: 30px;
}

.new__left-sign {
    color: #212020;

}
.new__item {
    padding-bottom: 30px;
    max-width: 265px;
    position: relative;
    padding-top: 1px;
}
.new__img::before{
    content: "";
    color: #f9f9f9;
    width: 45px;
    height: 55px;
    background-color: #ffc222;
    position: absolute;
    top: 0;
    left: 10px;
}
.new__img::after{
    content: "03.04";
    color: #f9f9f9;
    position: absolute;
    top: 30px;
    left: 15px;

}
.new__item-title {
    color: #242424;
    font-size: 16px;
    margin: 15px 0 10px;
    font-weight: 600;

}
.new__item-text {
    color: #5e5e5e;
}

/*==========FOOTER==========*/

.footer{
    background-color: #595959;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 35px;

}
.footer__content-text {
    width: 350px;
}
.footer__content-title {
    font-size: 16px;
    color: #fff;

}   
.footer__button{
    padding: 20px 0 50px;
    position: relative;
}
.footer__button::before{
    font-family: 'icomoon';
    content: "\f0b1";
    font-size: 16px;
    position: absolute;
    top: 21px;
    left: 25px;

}
.footer__content-cubtitle {
    color: #d3d2d2;
    margin-bottom: 25px;

}
.footer__link {
    font-size: 16px;
    padding: 10px 20px 10px 50px;
    background-color: #ffc222;
    color: #1b1b1b;
    
    
}
.footer__contacts li {
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 25px;
    position: relative;
}
.footer__contacts a{
    color: #fff;
}
.footer__content-map {
    width: 630px;
    height: 250px;
    padding-top: 30px;
}
.footer__bottom {
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 35px;
}
.phone::before{
    content: "\f095";
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0;
}
.email::before {
    content: "\f003";
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0;
}
.map::before {
    content: "\f041";
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0;
}

/*.form-content {
    position: relative;
}
.form__title {
    font-size: 24px;
    color: #212020;
    margin-top: 45px;
    padding-left: 135px;
    
}
.form__title::before {
    content: " ";
    height: 2px;
    width: 105px;
    background-color: #ffc222;
    position: absolute;
    left: 2px;
    top: 10px;
    
}
.form__subtitle {
    color: #5e5e5e;
    margin-top: 24px;
    white-space: pre-line;
    margin-bottom: 45px;
    margin-left: 140px;
}
.form__item {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    color: #282828;
    max-width: 850px;
}
.form__titles {
    margin: 18px 0 10px;
    font-size: 14px;
    outline: n;
}
.form__contakt {
    margin-right: 40px;
    max-width: 265px;
}
.email, .form__selekt {
    height: 38px;
    width: 260px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}
.text {
    resize: none;
    min-width: 575px;
    min-height: 190px;
    font-size: 18px;
    padding: 10px;
    display: block;
    margin-bottom: 38px;
    outline: none;
}
.form__link {
    padding: 10px 30px;
    border: 2px solid #ffc222;
    float: right;
    color: #282828;
    background-color: transparent;
}
.form__text {
    margin-right: 80px;
    max-width: 555px;
} 
.form__inner {
    background-image: url(../images/form__img.png);
    background-repeat: no-repeat;
    min-height: 460px;
    background-position: bottom right;
    padding-bottom: 40px;
}
*/
